@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: radial-gradient(
    circle at 24.1% 68.8%,
    rgb(15, 15, 15) 0%,
    rgb(0, 0, 0) 100%
  );
  background-repeat: no-repeat;
  /* background: #141414; */
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  /* background: transparent
    url("http://assets.iceable.com/img/noise-transparent.png") repeat 0 0;
  background-repeat: repeat;
  opacity: 0.9;
  visibility: visible; 
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.outline-title {
  text-shadow: 1px 1px 0 #ffffff, -1px -1px 0 #ffffff, 1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

.about-title {
  color: transparent;
  -webkit-text-stroke: 2px rgb(156 163 175);
}

.chevron {
  color: rgb(156 163 175);
  -webkit-text-stroke: 2px rgb(156 163 175);
}

.mobile-title h2 {
  color: #fff;
  font-family: "Poppins", sans-serif;
  position: absolute;
  transform: translate(-50%, -50%);
}

#image-track {
  display: flex;
  gap: 4vmin;
  transform: translate(0%, -50%);
  user-select: none; /* -- Prevent image highlighting -- */
}

#image-track img {
  width: 60vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 100% center;
}
